* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --mainColor: #344D67;
    --borderColor: #0081C9;

}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

.content {
  padding-top: 300px;
  overflow: hidden;
  z-index: 0;
}

.container-fluid {
  background-color: var(--mainColor);
  align-items: left;
  text-align: left;
  color: white;
  padding: 10px 16px;
  
  
}

.noteArea {
  position: relative;
  width: 30rem;
  margin: 30px auto;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgb(138, 137, 137)
}

@media screen and (max-width: 1000px) {
  .noteArea {
    width: 20rem
  }
}

.noteArea input, 
.noteArea textarea {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.2em;
  resize: none;

}

.deleteIcon {
  position: absolute;
  right: 10px;
  border: none;
  width: 40px;
  height: 40px;
  outline: none;
  color: var(--mainColor);
  background: white;
  bottom: 10px;

}

.noteArea button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  border-radius: 50%;
  background: var(--mainColor);
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
}

.note {
  position: relative;
  border-radius: 7px;
  box-shadow: 0 2px 5px  #ccc;
  padding: 10px;
  margin-bottom: 50px;

  float: left;
  
}

.note h1 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 40px;

}


footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 2.5rem;
}

.noteArea {
  background-color: white;
}

.login-form {
  margin: 150px auto 0;
  width: 360px;
  text-align: center;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  border-radius: 5px;

}

.login-form input {
  display: block;
  width: 300px;
  margin:20px auto 20px;
  height: 20px;
  padding: 15px 0;
  font-size: 18px;
  border: 0.15rem solid var(--borderColor);
  outline: none;  
}

.login-form i {
  color: var(--mainColor);
  font-size: 50px;
  margin: 20px;
}

.login-form button {
  margin-bottom: 20px;
}

.login-form p{
  display: inline;
}

.error {
  color: red;
  padding-top: 0;

}

.login-form i {
  display: block;
  padding-top: 10px;
}